div.container {
    border: 1px solid black;
}

.bg {
    background-color: white;
    border: 1px solid white;
}

.grid-layouts.container {
    border: 2px solid grey;
}

/* logo */
/* .col-sm-6.bg-sign {
    padding-left: 100px;
    padding-top: 50px;
    color: #315610;
    font-weight: 600;
    font-size: large;




} */

/* sign up */
.fw-normal {
    color: #315610;


}

.col-6.bg-log {
    padding-top: 75px;
    padding-right: 40px;
}

/* 
.text-muted {
    text-align: center;
} */

.d-grid.gap-2 {
    padding: 50px 0px;
}

/* button */
.btn.btn-success {
    background-color: #315610;
}

/* next page */
.row.g-3 {
    padding-right: 100px;
}

/* nav */
.nav-head {
    text-align: right;
    padding-right: 80px;
    color: #315610;
    font-weight: 500;
    font-size: large;
}

/* op-details */
.col-6.op {
    color: #315610;
    font-weight: 500;
    padding-left: 50px;
}

/* count */
.reg-count {
    background-color: #315610;
    border-radius: 5px;
}

.check-count {
    background-color: #315610;
    border-radius: 5px;
}

.row.count {
    padding-left: 80px;
}

.row>h4 {
    padding-top: 50px;
    padding-left: 50px;
}

/* tab */
.col-4.tab {
    padding-top: 20px;
    padding-left: 250px;
}

.btn.btn-success view {
    padding-right: 50px;
}